body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #1D81B9;
    font-weight: bold;
}

div.title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #191919;
    margin-bottom: 5px;
}

table {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

table td:hover {
    background-color: #EFEFEF;
}

