body {
    background-color: #2E4D69;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 700px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #1D81B9;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-width: 0;
}

img.gallery {
    border: 3px double #333333;
    max-width: 200px;
    max-height: 200px;
}

img.beta {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

textarea {
    width: 99%;
    border: 1px solid #191919;
}

hr {
    border: 0px solid white;
    border-bottom: 1px dashed #191919;
    margin-left: 5px;
    margin-right: 5px;
}

input {
    border: 1px solid #191919;
}

input[type='submit'] {
    background-color: green;
    border: 1px solid green;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

div.header {
    padding-top: 10px;
    font-size: 24px;
}

div.header a {
    color: white;
}

div.header img {
    vertical-align: bottom;
}

div.top_right {
    float: right;
    font-size: 15px;
    background-color: #191919;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-left: 1px solid #191919;
    border-right: 1px solid #191919;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-bottom: 1px solid #191919;
}

div.top_right a {
    color: white;
    padding: 5px;
}

div.top_right a:hover {
    text-decoration: none;
    background-color: #3C3C3C;
}

div.arrow {
    background-image: url('/img/arrow.png');
    background-repeat: no-repeat;
    height: 13px;
    width: 50px;
    margin-top: 10px;
}

div.arrow#main {
    margin-left: 55px;
}

div.arrow#streamid {
    margin-left: 160px;
}

div.arrow#menu {
    margin-right: 55px;
    margin-left: auto;
}

div.no_arrow {
    height: 13px;
    width: 50px;
    margin-top: 10px;
}

div.body {
    min-height: 300px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}

div.options {
    text-align: center;
    margin-bottom: 10px;
}

div.options span {
    padding: 3px;
    background-color: #3C3C3C;
    border: 2px solid #3C3C3C;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}

div.options a {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

div.options a.selected {
    background-color: #6C6C6C;
}

div.options a:hover {
    text-decoration: none;
    background-color: #7C7C7C;
}

div.search {
    padding: 10px;
    background-color: #EFEFEF;
    text-align: center;
}

div.search input.search_box {
    width: 80%;
}

div.worldintags {
    line-height: 175%;
}

a.tag {
    background-color: #1D81B9;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    color: white;
}

table.main {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

table.main td {
    vertical-align: top;
    text-align: center;
    padding: 20px;
}

table.main td:hover {
    background-color: #feffc0;
}

div.message {
    text-align: center;
    background-color: #feffc0;
    border-top: 1px solid #e1e16e;
    border-bottom: 1px solid #e1e16e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
}

div.warning {
    text-align: center;
    background-color: #feffc0;
    border: 1px solid #e1e16e;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

div.error {
    text-align: center;
    background-color: #ED989C;
    border: 1px solid #ED989C;
    border-top: 1px solid #DC6267;
    border-bottom: 1px solid #DC6267;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 18px;
}

div.error a {
    color: white;
}

div.section, div.pylinks {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div.pylinks {
    border: 1px dashed black;
    padding-right: 5px;
}

div.title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px dotted #191919;
    margin-bottom: 5px;
}

table.social_buttons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

div.stream_description {
    background-color: #EFEFEF;
    border: 1px solid #DEDEDE;
    padding: 5px;
    margin-bottom: 2px;
    font-size: 17px;
}

div.stream_info {
    font-size: 11px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 0px;
}

div.hidden {
    display: none;
}

div.pylink {
    padding-left: 5px;
}

div.pylink:hover {
    background-color: #EFEFEF;
}

span.green, span.red, span.yellow {
    float: left;
    width: 60px;
    font-size: 11px;
    text-align: center;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

span.green {
    background-color: green;
    color: white;
}

span.red {
    background-color: red;
    color: white;
}

span.yellow {
    background-color: yellow;
    color: black;
}

a.file_name {
    float: right;
    color: black;
    font-weight: normal;
}

a.stream {
    background-color: gray;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    text-transform: uppercase;
}

table.comments {
    width: 100%;
}

table.comments tr.comment:hover {
    background-color: #feffc0;
}

table.comments td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.comments td.autor {
    width: 110px;
    border-bottom: 1px solid silver;
}

table.comments td.text {
    padding-left: 5px;
    border-bottom: 1px solid silver;
}

table.custom {
    width: 100%;
    padding: 5px;
}

table.custom tr.top td {
    border-bottom: 1px solid black;
}

table.custom tr:hover {
    background-color: #feffc0;
}

table.custom tr.top:hover {
    background-color: white;
}

table.custom td.tweet {
    padding: 5px;
    border-bottom: 1px solid silver;
}

div.pages {
    margin: 10px;
    font-size: 14px;
}

div.pages span {
    background-color: #F7F7F7;
    border: 1px outset #E4E4E4;
    margin-right: 5px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

div.pages span#current {
    background-color: #1D81B9;
    border: 1px outset #1D81B9;
}

div.pages span#current a {
    color: white;
}

div.footer {
    text-align: right;
    color: white;
    margin-top: 15px;
}

div.footer a {
    color: white;
}

