{% include "header.html" %}
<div class="arrow" id="menu"></div>
<div class="body">

<div class="options">
    <span>
    <a href="/admin/">main</a><a class="selected" href="/admin/streams">streams</a><a href="/admin/requests">requests</a><a href="/admin/reports">reports</a><a href="/admin/stats">stats</a>
    </span>
</div>

{% if removed %}
    <div class="message">Stream removed successfull!</div>
{% endif %}

<table class="custom">
<tr class="top">
    <td>Stream</td>
    <td>Description</td>
    <td>Status</td>
    <td>Comments</td>
    <td>Pylinks</td>
    <td>Size</td>
    <td>OS</td>
    <td align="right">uptime</td>
</tr>
{% for stream in streams %}
    <tr>
        <td><a href="{{ stream.get_link }}" title="IP: {{ stream.ip }}">{{ stream.key.id }}</a></td>
        <td>{{ stream.description|truncate:80 }}</td>
        <td>{{ stream.status_text }}</td>
        <td>{{ stream.comments }}</td>
        <td>{{ stream.pylinks|length }}</td>
        <td>{{ stream.size|size }}</td>
        <td>{{ stream.os|show_platform:1 }}</td>
        <td align="right">{{ stream.date|timesince }}</td>
    </tr>
{% empty %}
    <tr><td colspan="8">empty!</td></tr>
{% endfor %}
</table>

{{ pages_data|pages }}

</div>
{% include "footer.html" %}
