{% include "header.html" %}
<div class="no_arrow"></div>
<div class="body">

<table width="100%">
<tr>
<td width="270" align="center" valign="top">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 10,
          interval: 6000,
          width: 250,
          height: 650,
          theme: {
            shell: {
              background: '#ffffff',
              color: '#000000'
            },
            tweets: {
              background: '#ffffff',
              color: '#000000',
              links: '#1D81B9'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'default'
          }
        }).render().setUser('neorazorx').start();
    </script>
</td>
<td valign='top'>
<div class="section">
    <div class="title">Author:</div>
    My name is Carlos Garcia Gomez, and I'm an open source developer.<br/>
    <a href="mailto:admin@pystream.com">admin@pystream.com</a>
</div>

<div class="section">
    <div class="title">Education:</div>
    Technical Engineering in Computer Managements, University of Alicante, Spain, 2010.<br/>
    - Linux GUI development with GTK and QT.
</div>

<div class="section">
    <div class="title">Open source projects:</div>
    <ul>
        <li><a href="http://code.google.com/p/facturascripts/">FacturaScripts</a>:
        easy stock management web application, built on PHP5 + PostgreSQL/MySQL.</li>
        <li><a href="https://github.com/NeoRazorX/ubuntufaq">Ubuntu FAQ</a>: a collaboratively question
        and answer site for Ubuntu users. Built over
        <a href="http://code.google.com/intl/es-ES/appengine/">Google app engine</a>
        (python + memcahe + django + GQL)</li>
        <li><a href="http://www.pystream.com">Pystream</a>: this project ;-)</li>
        <ul>
            <li>Server: Built over <a href="http://code.google.com/intl/es-ES/appengine/">Google app engine</a>
            (python + memcahe + django + GQL)</li>
            <li>Linux client: python + pyGTK.</li>
            <li>Windows/Mac clients: python + Tkinter.</li>
        </ul>
    </ul>
</div>
</td>
</tr>
</table>

</div>
<div class="arrow_down"></div>
{% include "footer.html" %}
