<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ titulo|truncatewords:15 }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ descripcion|addslashes|truncatewords:50 }}" />
    <meta name="Robots" content="all" />
    <style type="text/css">
    body {
        background-color: white;
        font-size: 13px;
        margin: 0px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    a {
        color: #DD4814;
        font-weight: bold;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    </style>
</head>
<body>
<div>
    <a href="/">pystream</a> - beta
</div>
