{% include "header.html" %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>

<div class="arrow" id="menu"></div>
<div class="body">

<table class="social_buttons">
<tr>
    <td>
    <table>
    <tr>
        <td><g:plusone size="medium"></g:plusone></td>
        <td><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></td>
        <td><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe></td>
    </tr>
    </table>
    </td>
    <td align="right"><a href="/report?link=/download">{{ lang|translation:'report' }}</a></td>
</tr>
</table>

<div class="stream_description">
    {% if lang == 'es' %}
    <b>Selecciona tu platafroma:</b><br/>
    Comparte archivos de forma directa e instantánea, tan solo debes ejecutar <b>Pystream Sharing Tool</b>, seleccionar una carpeta de tu pc y la visibilidad que quieras que tenga (público, privado o solamente en LAN).
    {% else %}
    <b>Select your platform:</b><br/>
    Sharing folders made easy. Launch <b>Pystream Sharing Tool</b>, select a folder and share!
    {% endif %}
    
    <table class="main">
    <tr>
        <td align="center"><img src="/img/windows.png" alt="windows"/><br/>Coming soon</td>
        <td align="center"><a href="/download?os=linux"><img src="/img/linux.png" alt="linux"/><br/>Linux</a></td>
        <td align="center"><img src="/img/mac.png" alt="mac"/><br/>Coming soon</td>
    </tr>
    </table>
</div>

<br/>

{% if user_os = 'linux' %}
    <center><img src="/img/pst-linux.png" alt="Linux"/></center>
{% endif %}

</div>
{% include "footer.html" %}
