{% include "header.html" %}
<div class="arrow" id="menu"></div>
<div class="body">

<table class="social_buttons">
<tr>
    <td colspan="2" align="right"><a href="/report?link=/download?os={{ download_os }}">{{ lang|translation:'report' }}</a></td>
</tr>
</table>

{% if download_os = 'linux' %}
<script type="text/javascript">
    function download() { window.location.href = "{{ linux_client_url }}"; }
</script>
<div class="section">
    <div class="title">Pystream Sharing Tool for Linux</div>
    <ul>
        <li>Clic <a href="{{ linux_client_url }}">here</a> if download is not started.</li>
        <li>Uncompress the downloaded file and clic on <b>pst-linux.py</b></li>
    </ul>
</div>
{% endif %}

<div class="section">
    <div class="title">Issues</div>
    <ul>
        <li>You need to <a href="http://www.google.com/search?q=open+router+port">open your port</a> in order to make your stream public.</li>
        <li>Report me any issue you have.</li>
    </ul>
</div>

<div class="section">
    <div class="title">Source code</div>
    <ul>
        <li>Pystream Sharing Tool is open source, and has a GPLv3 license (AGPLv3 for website).</li>
        <li>Source code is <a href="http://github.com/NeoRazorX/pystream">here</a>.</li>
        <li>All participation is wellcome ;-)</li>
    </ul>
</div>

</div>
{% include "footer.html" %}
