<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ description }}" />
    <meta name="Robots" content="all" />
    <link rel="stylesheet" href="/css/web.css" type="text/css" />
    <script type="text/javascript" src="/js/basic.js"></script>
</head>
<body onload="{{ onload }}">
<div class="top_right">
    <a href="/new">new</a>
    | <a href="/random">random</a>
    | <a href="/search">search</a>
    {% if admin %}
        | <a href="/admin/">admin</a>
        | <a href="{{ logout }}">logout</a>
    {% endif %}
</div>
<div class="header">
    <img src="/img/logo.png"/>
    <a href="/">pystream</a> (alpha)
    {% if stream %}
        <a href="/s/{{ stream.key.id }}">{{ stream.key.id }}</a>
    {% endif %}
    {% if stream.password %}
        <img src="/img/mini-lock.png" alt="locked" title="password protected"/>
    {% endif %}
</div>
