<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ description }}" />
    <meta name="Robots" content="all" />
    <link rel="stylesheet" href="/css/web.css" type="text/css" />
    <script type="text/javascript" src="/js/basic.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-417932-6']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body onload="{{ onload }}">
<div class="top_right">
    <a href="/new">new</a>
    | <a href="/random">random</a>
    | <a href="/search">search</a>
    {% if admin %}
        | <a href="/admin/">admin</a>
        | <a href="{{ logout }}">logout</a>
    {% endif %}
</div>
<div class="header">
    <a href="/"><img src="/img/logo.png" alt="pystream (alpha)"/></a>
    {% if stream %}
        &nbsp; <a href="/s/{{ stream.key.id }}">{{ stream.key.id }}</a>
    {% endif %}
    {% if stream.password %}
        <img src="/img/mini-lock.png" alt="locked" title="password protected"/>
    {% endif %}
</div>
