{% include "header.html" %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>

<div class="arrow" id="streamid"></div>
<div class="body">

<table class="social_buttons">
<tr>
    <td>
    <table>
    <tr>
        <td><g:plusone size="medium"></g:plusone></td>
        <td><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></td>
        <td><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe></td>
    </tr>
    </table>
    </td>
    <td align="right"><a href="/report?link={{ request.get_link }}">{{ lang|translation:'report' }}</a></td>
</tr>
</table>


<div class="stream_description">
    {{ request.description|safe|linebreaksbr|urlcode }}
</div>
<div class="stream_info">
    {{ request.date|date:"d/m/Y H:i" }} |
    {% if admin %}
        {{ request.ip }} |
        {{ request.os|show_os }} |
        {{ request.email }} |
    {% endif %}
    {% for tag in request.tags %}
        {{ tag|show_tag }}
    {% empty %}
        no tags
    {% endfor %}
    | <a href="/mod_request/{{ request.key.id }}">{{ lang|translation:'edit' }}</a>
    {% if admin %}
        | <a href="#" onclick="remove_request('{{ request.key }}')">{{ lang|translation:'remove' }}</a>
    {% endif %}
</div>


<div class="section">
<div class="title">{{ lang|translation:'comments'|capfirst }}:</div>
<table class="comments">
{% for comment in request.get_comments %}
<tr class="comment">
    <td class="autor">
        <a name="{{ comment.key }}"></a>
        <a name="{{ forloop.counter }}" href="{{ request.get_link }}#{{ forloop.counter }}">@{{ forloop.counter }}</a>
        <br/>
        {{ comment.date|timesince }}
        <br/>
        {% if admin %}
            {{ comment.os|show_os }}
            <br/>
            {{ comment.ip }}
            <br/>
            <a href="#" onclick="remove_comment('{{ comment.key }}')">remove</a>
        {% endif %}
    </td>
    <td class="text">{{ comment.text|safe|linebreaksbr|urlcode }}</td>
</tr>
{% endfor %}

<tr>
    <td><b>{{ lang|translation:'anonymous' }}</b></td>
    <td>
        <form name="comment" action="/comment" method="post">
        <input type="hidden" name="origin" value="{{ request.get_link }}"/>
        <textarea name="text" rows="6" cols="60" onfocus="clear_comment(this, '{{ lang|translation:'leavecom' }}')">{{ lang|translation:'leavecom' }}</textarea>
        <br/>{{ captcha|safe }}
        <input type="submit" value="{{ lang|translation:'send' }}"/>
        </form>
    </td>
</tr>
<tr>
    <td>
        <a href="#iframe" onclick="show_on_iframe('imgur')">Upload pictures</a>
        <br/>
        <a href="#iframe" onclick="show_on_iframe('megaupload')">Upload files</a>
    </td>
    <td><a name="#iframe"><iframe id="webservice" src="" width="99%" height="0" frameborder="0"></iframe></td>
</tr>
</table>
</div>


</div>
{% include "footer.html" %}
