{% include "header.html" %}
<div class="arrow" id="menu"></div>
<div class="body">

<table class="social_buttons">
<tr>
    {% if query %}
    <td>{{ lang|translation:'refersearch'|capfirst }}: {{ query|show_tag }}</td>
    {% endif %}
    <td align="right"><a href="/report?link=/">{{ lang|translation:'report' }}</a></td>
</tr>
</table>

{% if code %}
    <div class="error">{{ lang|translation:code }}</div>
    <br/>
{% endif %}

{% if code == '403' %}
    <center><img src="/img/fuuu_face.png"/></center>
{% endif %}

{% if code == '403c' %}
    <center><img src="/img/fuuu_face.png"/></center>
{% endif %}

{% if code == '404' %}
    <center><img src="/img/fuuu_face.png"/></center>
{% endif %}

<div class="search">
    <form name="search" action="/search" method="get">
        <input class="search_box" type="text" name="query" value="{{ query }}"/>
        <input type="submit" value="{{ lang|translation:'search' }}"/>
    </form>
</div>

{% if query %}
<table width="100%">
<tr>
<td valign="top" width="70%">
<div class="section">
    <div class="title">{{ lang|translation:'results'|capfirst }}:</div>
    <table class="custom">
    {% for page in pages %}
        <tr><td class="tweet"><a href="{{ page.0 }}">{{ page.3 }}</a><br/>{{ page.2|timesince }} | {{ page.1 }}</td></tr>
    {% empty %}
        <tr><td><div class="warning">{{ lang|translation:'noresults'|capfirst }}</a></td></tr>
    {% endfor %}
    </table>
    {% if pylinks %}
        <br/><br/>
        <div class="title">Pylinks:</div>
        {% for pyl in pylinks %}
            {{ pyl|show_pylink:"true" }}
        {% endfor %}
    {% endif %}
</div>
</td>
{% if tags %}
    <td valign="top">
    {{ tags|show_tags }}
    </td>
{% endif %}
</tr>
</table>
{% else %}
    {% if tags %}
    <div class="section">
        <div class="title">{{ lang|translation:'worldtags'|capfirst }}:</div>
        {{ tags|show_tags }}
    </div>
    {% endif %}
{% endif %}

</div>
{% include "footer.html" %}
