{% include "header.html" %}
<div class="arrow" id="menu"></div>
<div class="body">

<table class="social_buttons">
<tr><td align="right"><a href="/report?link=/">{{ lang|translation:'report' }}</a></td></tr>
</table>

{% if code %}
    <div class="error">{{ lang|translation:code }}</div>
    <br/>
{% else %}
    <br/>
{% endif %}

{% if code == '404' %}
    <center><img src="/img/not_found.png"/></center>
{% endif %}

<div class="search">
    <form name="search" action="/search" method="get">
        <input class="search_box" type="text" name="query" value="{{ query }}"/>
        <input type="submit" value="{{ lang|translation:'search' }}"/>
    </form>
</div>

{% if previouss %}
<center>
{% for p in previouss %}
    <a href="/search?query={{ p.0 }}" title="{{ p.1 }}">{{ p.0 }}</a> &nbsp;
{% endfor %}
</center><br/>
{% endif %}

{% if query %}
<table class="custom">
<tr class="top">
    <td>Streams</td>
    <td>Size</td>
    <td>Status</td>
    <td align="right">uptime</td>
</tr>
{% for stream in streams %}
    <tr>
        <td>
            <a href="{{ stream.get_link }}" title="Stream: {{ stream.key.id }}">
            {{ stream.description|truncate:90 }}
            </a>
        </td>
        <td>{{ stream.size|size }}</td>
        <td>{{ stream.status_text }}</td>
        <td align="right">{{ stream.date|timesince }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5">
            {{ lang|translation:'nostreamsfound' }}
            {{ lang|translation:'needtesters' }}
            <a href="/new#client">{{ lang|translation:'pystreamcli' }}</a>.
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

</div>
{% include "footer.html" %}
