{% include "header.html" %}
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>

<div class="arrow" id="streamid"></div>
<div class="body">

<table class="social_buttons">
<tr>
{% if stream.size > 0 %}
    <td>{{ stream.size|size }}</td>
{% endif %}
    <td>
    <table>
    <tr>
        <td><g:plusone size="medium"></g:plusone></td>
        <td><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></td>
        <td><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe></td>
    </tr>
    </table>
    </td>
    <td align="right"><a href="/report?link={{ stream.get_link }}">{{ lang|translation:'report' }}</a></td>
</tr>
</table>

<div class="stream_description">
    {{ stream.description|safe|linebreaksbr|urlcode }}
</div>
<div class="stream_info">
    {{ stream.date|date:"d/m/Y H:i" }}
    {% if admin %}
        | {{ stream.ip }}
        | {{ stream.os|show_platform }}
    {% endif %}
    | {{ stream.status_text }} |
    {% for tag in stream.tags %}
        {{ tag|show_tag }}
    {% empty %}
        no tags
    {% endfor %}
    | <a href="/mod_stream/{{ stream.key.id }}">{{ lang|translation:'edit' }}</a>
    {% if admin %}
        | <a href="#" onclick="remove_stream('{{ stream.key }}')">{{ lang|translation:'remove' }}</a>
    {% endif %}
</div>

{% if stream.status >= 100 %}
    <div class="warning">Stream closed</div>
{% else %}

{% if stream.pylinks|length > 0 %}
<div class="pylinks">
    <a name="pylinks"></a>
    <div class="options">
        <span>
        <a id="btn_pyl_def_lens" class="selected" href="#pylinks" onclick="select_pylinks_lens()">pylinks</a><a id="btn_pyl_txt_lens" href="#pylinks" onclick="select_pylinks_lens('text')">text</a>
        </span>
    </div>
    <div id="pyl_default_lens">
    {% for link in stream.get_pylinks %}
        {{ link|show_pylink }}
    {% endfor %}
    </div>
    <div id="pyl_text_lens" class="hidden">
    {% for link in stream.get_pylinks %}
        {{ link.url }}<br/>
    {% endfor %}
    </div>
</div>
{% else %}
<div class="warning">No pylinks!</div>
{% endif %}

<div class="section">
<div class="title">{{ lang|translation:'comments'|capfirst }}:</div>
<table class="comments">
{% for comment in stream.get_comments %}
<tr class="comment">
    <td class="autor">
        <a name="{{ comment.key.id }}"></a>
        <a name="{{ forloop.counter }}" href="{{ stream.get_link }}#{{ forloop.counter }}">@{{ forloop.counter }}</a>
        <br/>
        {{ comment.date|timesince }}
        <br/>
        {% if admin %}
            {{ comment.os|show_os }}
            <br/>
            {{ comment.ip }}
            <br/>
            <a href="#" onclick="remove_comment('{{ comment.key }}')">remove</a>
        {% endif %}
    </td>
    <td class="text">{{ comment.text|safe|linebreaksbr|urlcode }}</td>
</tr>
{% endfor %}

<tr>
    <td><b>{{ lang|translation:'anonymous' }}</b></td>
    <td>
        <form name="comment" action="/comment" method="post">
        <input type="hidden" name="origin" value="{{ stream.get_link }}"/>
        <textarea name="text" rows="6" cols="60" onfocus="clear_comment(this, '{{ lang|translation:'leavecom' }}')">{{ lang|translation:'leavecom' }}</textarea>
        <br/>{{ captcha|safe }}
        <input type="submit" value="{{ lang|translation:'send' }}"/>
        </form>
    </td>
</tr>
</table>
</div>
{% endif %}

</div>
{% include "footer.html" %}
